{% load static %}

<div class="profile-icon-container">
    <img src="{% static 'images/profile-icon.png' %}" alt="Profile Icon">

    <!-- Dropdown Menu -->
    <div class="dropdown-menu">
        
        <ul>
            
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#" onclick="document.getElementById('logout-form').submit();">Log out</a></li>
            
        </ul>
        
    </div>
    
</div>

<form id="logout-form" method="post" action="{% url 'logout' %}">
    {% csrf_token %}
</form>
