{% extends 'base/base.html' %}

{% block title %}
    Change password
{% endblock %}

{% block content %}


    {% if not user.password %}
        
        You most likely logged in via google so changing password is not available for you. If you have any questions
        please contact us 
        
        <a href="#">Contacts</a>
        
    {% else %}
        
        <div class="auth-form">

            <form method="post">

                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit">Change password</button>

            </form>

        </div>
        
    {% endif %}
    
{% endblock %}