{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Change password
{% endblock %}

{% block content %}

    <div class="auth-page-wrapper">

        <div id="password-change-page-card">

            <div class="auth-card-inner-container">

                <h2>You've successfully changed your password.</h2>

            </div>

            <div id="auth-bottom-options-container">

                <p>Need help? <a href="{% url 'registration' %}">Contacts</a></p>

            </div>

        </div>

    </div>

    <style>
        .auth-page-wrapper {
            background-image: url("{% static 'images/login1.jpg' %}");
        }
    </style>

{% endblock %}