{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Reset password
{% endblock %}

{% block content %}

    <div class="auth-page-wrapper">

        <div id="password-reset-page-card">

            <div class="auth-card-inner-container">

                <h2>Reset password</h2>

                {% if validlink %}

                    <div class="auth-form">

                        <form method="post">

                            {% csrf_token %}

                            <div class="auth-form-field">
                                <input type="password" name="new_password1" id="id_new_password1" placeholder=" "
                                       required>
                                <label for="id_new_password1">New password</label>
                            </div>

                            <div class="auth-error-message" id="new_password1-error"></div>
                            {% for error in form.new_password1.errors %}
                                <div class="auth-error-message">{{ error }}</div>
                            {% endfor %}



                            <div class="auth-form-field">
                                <input type="password" name="new_password2" id="id_new_password2" placeholder=" "
                                       required>
                                <label for="id_new_password2">Confirm password</label>
                            </div>

                            <div class="auth-error-message" id="new_password2-error"></div>
                            {% for error in form.new_password2.errors %}
                                <div class="auth-error-message">{{ error }}</div>
                            {% endfor %}

                            {% if form.non_field_errors %}

                                {% for error in form.non_field_errors %}

                                    <p class="auth-field-non-field-error">{{ error }}</p>

                                {% endfor %}

                            {% endif %}

                            <button class="auth-button" type="submit">Change password</button>

                        </form>

                    </div>

                {% else %}

                    <p>The password reset link is invalid or has expired. Please try again.</p>

                {% endif %}

            </div>

            <div id="auth-bottom-options-container">

                <p>Need help? <a href="{% url 'registration' %}">Contacts</a></p>

            </div>

        </div>

    </div>

    <style>
        .auth-page-wrapper {
            background-image: url("{% static 'images/login1.jpg' %}");
        }
    </style>

{% endblock %}
