{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Reset password
{% endblock %}

{% block content %}

    <div class="auth-page-wrapper">

        <div id="password-reset-page-card">

            <div class="auth-card-inner-container">

                <h2>Reset password</h2>

                <p>If an account with this email exists, you will receive a password reset link. Please check your mailbox</p>
                
            </div>

            <div id="auth-bottom-options-container">

                <p>Need help? <a href="{% url 'registration' %}">Contacts</a></p>

            </div>

        </div>

    </div>

    <style>
        .auth-page-wrapper {
            background-image: url("{% static 'images/login1.jpg' %}");
        }
    </style>

{% endblock %}
