{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Reset password
{% endblock %}

{% block content %}

    <div class="auth-page-wrapper">

        <div id="password-reset-page-card">

            <div class="auth-card-inner-container">

                <h2>Reset password</h2>

                <p>Enter your email, and we'll send you a link to reset your password.</p>

                <div class="auth-form">

                    <form method="post">

                        {% csrf_token %}

                        <div class="auth-form-field">
                            <input type="email" name="email" id="id_email" placeholder=" "
                                   value="{{ form.email.value|default:'' }}" required>
                            <label for="id_email">Email</label>
                        </div>

                        <div class="auth-error-message" id="email-error"></div>
                        {% for error in form.email.errors %}
                            <div class="auth-error-message">{{ error }}</div>
                        {% endfor %}

                        {% if form.non_field_errors %}

                            {% for error in form.non_field_errors %}

                                <p class="auth-field-non-field-error">{{ error }}</p>

                            {% endfor %}

                        {% endif %}

                        <button class="auth-button" type="submit">Request reset link</button>

                    </form>

                </div>

            </div>

            <div id="auth-bottom-options-container">

                <p>Need help? <a href="{% url 'registration' %}">Contacts</a></p>

            </div>

        </div>

    </div>

    <style>
        .auth-page-wrapper {
            background-image: url("{% static 'images/login1.jpg' %}");
        }
    </style>

{% endblock %}
