
#welcoming-section-wrapper {
    width: 90%;
    height: 25em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    display: flex;
}

#welcoming-left-section {
    /*border: 2px solid blue;*/
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4em;
    margin-left: 4em;
}

#welcoming-left-section h1 {
    font-size: 2em;
    text-align: start;
    width: 60%;
    /*background-color: #f5efeb;*/
    color: #2f4145;
}

#welcoming-left-section p {
    width: 75%;
}

#welcoming-right-section {
    position: relative;
    height: 100%;
    flex: 1;
}

#welcoming-options {
    display: flex;
    gap: 1em;
}

#welcoming-options a {
    text-decoration: none;
    color: white;
}

#welcoming-options > a.welcoming-option-read {
    vertical-align: middle;
    font-size: 1em;
    padding: 0.2em 0.4em;
    background-color: #2f4145;
    border-radius: 5px;
}

#welcoming-options > a.welcoming-option-read:hover {
    background-color: #52727a;
}

#welcoming-options > a.welcoming-option-join {
    padding: 0.2em 0.4em;
    background-color: #558e3e;
    border-radius: 5px;
}

#welcoming-options > a.welcoming-option-join:hover {
    background-color: #6bb34d;
}


#stats-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30em;
    height: 4em;
    border: 5px solid #ffffff;
    border-radius: 25px;
    background-color: #567c8d;
    overflow: hidden;
}

#stats-list {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#stats-list li {
    margin-top: 0.2em;
    vertical-align: middle;
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
}
#stats-list li img {
    width: 1.5em;
}
