{% load static %}
<div id="home-one-off-tuition-wrapper">

    <div id="tuition-image-container">

        <img alt="one off tuition" src="{% static 'images/tuition3.jpg' %}">

    </div>

    <div id="home-tuition-right-side">

        <div id="tuition-text-container">
            
            <h3>One-off Tuition</h3>
            <p>You have the knowledge ,but you need some clarification? No matter if it's only you or a group help is on the way! Just schedule a zoom meeting in the calendar.</p>

        </div>
        
        <a href="#" id="home-schedule-meeting">Book now</a>

    </div>

</div>