{% load static %}

{#<style>#}
{##}
{#    @keyframes appear {#}
{#        from {#}
{#            opacity: 0;#}
{#            scale: 0.7;#}
{#        }#}
{##}
{#        to {#}
{#            opacity: 1;#}
{#            scale: 1;#}
{#        }#}
{#    }#}
{##}
{#    .home-subject-container {#}
{#        animation: appear linear;#}
{#        animation-timeline: view();#}
{#        animation-range: entry 0 cover 30%;#}
{#    }#}
{##}
{##}
{#</style>#}

<div id="home-subjects-section">

    <h2 id="home-subjects-title">The subjects</h2>

    <div id="subjects-first-row">

        <div class="home-subject-container">

            <div id="operative-home-icon" class="subject-icon-container"><img alt="operative ontology"
                                                                              src="{% static 'images/operative-icon.png' %}">
            </div>

            <div class="home-subject-text-container">

                <h5>Operative Dentistry and Endodontics</h5>

                <p>Some example text to go here about the subject..</p>

            </div>


            <a href="#">Read more</a>

        </div>

        <div class="home-subject-container">

            <div id="prosthodontics-home-icon" class="subject-icon-container"><img alt="prosthodontics"
                                                                                   src="{% static 'images/prosthodontics.png' %}">
            </div>

            <div class="home-subject-text-container">

                <h5>Prosthodontics</h5>

                <p>Some example text to go here about the subject..</p>

            </div>

            <a href="#">Read more</a>

        </div>

        <div class="home-subject-container">

            <div id="oral-home-icon" class="subject-icon-container"><img alt="oral ontology"
                                                                         src="{% static 'images/oral.png' %}"></div>

            <div class="home-subject-text-container">

                <h5>Oral and Maxillofaxial Surgery</h5>

                <p>Some example text to go here about the subject..</p>

            </div>

            <a href="#">Read more</a>

        </div>

    </div>

    <div id="subjects-second-row">

        <div class="home-subject-container">

            <div id="paediatric-home-icon" class="subject-icon-container"><img alt="paediatric"
                                                                               src="{% static 'images/kid.png' %}">
            </div>

            <div class="home-subject-text-container">

                <h5>Paediatric Dentistry</h5>

                <p>Some example text to go here about the subject..</p>

            </div>

            <a href="#">Read more</a>

        </div>

        <div class="home-subject-container">

            <div id="orthodontics" class="subject-icon-container"><img alt="orthodontics"
                                                                       src="{% static 'images/orthodontics.png' %}">
            </div>

            <div class="home-subject-text-container">

                <h5>Orthodontics</h5>

                <p>Some example text to go here about the subject..</p>

            </div>

            <a href="#">Read more</a>

        </div>

        <div class="home-subject-container">

            <div id="periodontology" class="subject-icon-container"><img alt="periodontology"
                                                                         src="{% static 'images/periodontology.png' %}">
            </div>

            <div class="home-subject-text-container">

                <h5>Periodontology</h5>

                <p>Some example text to go here about the subject..</p>

            </div>

            <a href="#">Read more</a>

        </div>

    </div>

</div>