{% load static %}
<div id="welcoming-section-wrapper">

    <div id="welcoming-left-section">

        <h1>Our notes are all you need.</h1>

        <p>Let our notes guide you through the university world and give you shortcut to the highest grades!</p>

        <div id="welcoming-options">

            <a href="#" class="welcoming-option-read">Read more</a>
            <a href="#" class="welcoming-option-join">Join the club</a>

        </div>

    </div>

    <div id="welcoming-right-section" class="animate__animated animate__bounce ">

        <div id="stats-wrapper">

            <ul id="stats-list">

                <li><img src="{% static 'images/1000notes.png' %}"> 1000+ notes</li>
                <li><img src="{% static 'images/all-years.png' %}"> all years covered</li>
                <li><img src="{% static 'images/great-reviews.png' %}"> amazing reviews</li>

            </ul>

        </div>

    </div>

</div>

<style>

    #welcoming-section-wrapper {
        background-image: url("{% static 'images/welcoming-image-2.jpg' %}");
    }

</style>
