#dashboard-wrapper {
    width: 100%;
    background: #fff;
    display: flex;
}

#sidebar-wrapper {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 15%;
    /*border: 1px solid gray;*/
}

#sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 90%;
}

#sidebar-container h3 {
    letter-spacing: 0.1em;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    font-size: 1.5em;
    color: #5c5c5c;
    background-color: #f5efeb;
}

#sidebar-wrapper ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    gap: 1em;
}

#sidebar-router li {
    list-style: none;
    display: flex;
    align-items: center;
    /*align-items: center;*/
}

#sidebar-router a {
    font-weight: 700;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1em;
    padding: 0.4em 1.3em;
    text-decoration: none;
    color: #777777;
    /*transition: 0.1s;*/
}

#sidebar-router svg {
    width: 1em;
    height: 1em;
    margin-bottom: 4px;
}

#sidebar-router a.active {
    background-color: #2468b1;
    color: #fff;
    border-radius: 15px;
}


#sidebar-router li a.active svg {
    filter: brightness(0) invert(1); /* Turns black icons white */
}

#work-field-wrapper {
    display: flex;
    min-height: 80vh;
    /*align-items: center;*/
    /*justify-content: center;*/
    flex: 1 0 85%;
    background-color: #f5efeb;
    border-top-left-radius: 50px;
    margin-top: 1em;
}

#work-field-container {
    margin: 2.5em 2.5em 2.5em 3em;
    width: 100%;
    /*border: 1px solid green;*/
}

