#subjects-wrapper {
    width: 100%;
}

#subjects-header-container {
    border-bottom: 2px solid gray;
    padding-bottom: 0.8em;
}

#subjects-title-container {
    letter-spacing: 0.05em;
    color: #2f4156;
}

#subjects-title-container p {
    font-size: 0.9em;
    color: #567c8d;
}


/*.*/
/*.*/
/*.*/
/*.*/


#subjects-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#subjects-inner-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}

.dashboard-subject-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fbfbfb;
    flex: 0 0 28%;
    width: 15em;
    height: 15em;
    border-radius: 25px;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
    /*border: 1px solid #2f4145;*/
}

.dashboard-subject-text-container {
    color: #515151;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    max-height: 3em;
}

.dashboard-subject-text-container h5 {
    margin-bottom: 0;
}

.dashboard-subject-years-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.years-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 90%;
    padding-bottom: 0.5em;
}

.year-item {
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 0.1em 1em;
    color: #515151;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year-item:hover {
    cursor: pointer;
    background-color: #c8d9e6;
}

.year-item .subject-year-progress {
    font-size: 0.7em;
}
.exam-check {
    font-size: 0.6em;
    color: #E14D2A;
}

.dashboard-subject-icon-container {
    position: absolute;
    width: 3em;
    height: 3em;
    top: -12%;
    left: 10%;
    background-color: #567c8d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(86, 124, 141, 0.5);
}

.dashboard-subject-icon-container img {
    width: 65%;
    height: 65%;
}

#operative-dashboard-icon {
    background-color: #EA5A8E;
    box-shadow: 0 5px 10px rgba(86, 124, 141, 0.5);
}

#prosthodontics-home-icon {
    background-color: #15C2A2;
    box-shadow: 0 5px 10px rgba(86, 124, 141, 0.5);
}

#oral-dashboard-icon {
    background-color: #4E99F4;
    box-shadow: 0 5px 10px rgba(86, 124, 141, 0.5);
}

#paediatric-dashboard-icon {
    background-color: #F98833;
    box-shadow: 0 5px 10px rgba(86, 124, 141, 0.5);
}

#orthodontics-dashboard-icon {
    background-color: #D48BE5;
    box-shadow: 0 5px 10px rgba(86, 124, 141, 0.5);
}

#periodontology-dashboard-icon {
    background-color: #7CBCE8;
    box-shadow: 0 5px 10px rgba(86, 124, 141, 0.5);
}