#sign-up-element {
    font-size: 0.9em;
    position: absolute;
    bottom: 3%;
    right: 5%;
    color: #4d4d67;
}

#login-page-card {
    position: relative;
    height: 25em;
    width: 18em;

    /*background: rgba(255, 255, 255, 0.55);*/
    background: rgba(200, 217, 230, 0.35);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(14.3px);
    border: 1px solid rgba(255, 255, 255, 0.50);

    /*background-color: white;*/
    /*border-radius: 25px;*/
    /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5)*/
}

.auth-card-inner-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.auth-card-inner-container h2 {
    color: white;
    text-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
}