#login-page-card {
    position: relative;
    width: 18em;
    display: flex;
    flex-direction: column;
    align-items: center;

    /*background: rgba(255, 255, 255, 0.55);*/
    background: rgba(200, 217, 230, 0.35);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(14.3px);
    border: 1px solid rgba(255, 255, 255, 0.50);
}
