@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


#profile_image_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2em;
    align-items: center;
    border-radius: 10px;
    padding: 1em 3em;

    background-color: white;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #cccbcb;
}


#profile_image_display_container {
    /*width: 100%;*/
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    /*gap: 0.2em;*/
}

#profile_image_display_container label {
    flex-basis: 15%;
}

#profile-image-container {
    border-radius: 50%;
    box-shadow: 3px 0 5px rgba(86, 124, 141, 0.5);
    width: 10em;
    height: 10em;
    overflow: hidden;
    margin-right: 1em;
    flex-shrink: 0;
    border: 1px solid #2f4145;
}

#profile_image_display_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profile_image_display_container input {
    flex-shrink: 1;
}

#profile_image_edit {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid gray;
}

#profile-image-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#profile-image-secondary-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

/*.*/
/*.*/
/*.*/
/*.*/
/*.*/


.profile-personal-info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.profile-field-container {
    width: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.label-and-field label {
    position: absolute;
    top: -40%;
    left: 0;
    font-size: 0.8em;
}

.field-buttons {
    font-size: 0.8em;
    position: absolute;
    top: -50%;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 0.5em;
}

.field-buttons p {
    vertical-align: middle;
    font-size: 0.9em;
    background-color: #567c8d;
    color: white;
    padding: 0.1em 0.3em;
    border-radius: 5px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.2);
}

.field-buttons p:hover {
    cursor: pointer;
    background-color: #75abbf;
}

.profile-image-button {
    font-size: 0.8em;
    vertical-align: middle;
    background-color: #567c8d;
    color: white;
    padding: 0.1em 0.3em;
    border-radius: 5px;
}

.profile-image-button:hover {
    cursor: pointer;
    background-color: #75abbf;
}

.profile-cancel-button {
    background-color: #E14D2A !important;
}

.profile-cancel-button:hover {
    background-color: #f4714f !important;
}

.label-and-field {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label-and-field input, .label-and-field textarea {
    font-size: 0.9em;
    flex-grow: 1;
    height: 3em;
    border-radius: 5px;
    /*font-size: 1em;*/
    color: #2f4145;
    background-color: white;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.2);
    padding-left: 0.5em;
    border: 1px solid #e4e4e4;
}


#bio_container {
    margin-top: 1em;
    width: 100%;
}

#bio_container .label-and-field textarea {
    /*font-family: "Montserrat", serif;*/

    color: #4c6a70;
    min-height: 9em;
    max-height: 9em;
    padding: 0.5em;
}

#bio_container .field-buttons {
    top: -17%;
}

#bio_container label {
    top: -17%;
}

#char_count {
    color: #774242;
}


.mini-field-icon {
    position: absolute;
    top: 30%;
    right: 2%;
    width: 1em;
    height: 1em;
}

.mini-field-icon img {
    width: 100%;
    height: 100%;
}

#settings-section ul {
    list-style: none;
}

#settings-section ul li a {
    font-size: 0.8em;
    color: #2f4145;
}

#activity-section ul {
    list-style: none;
}

#activity-section ul li  {
    font-size: 0.8em;
    color: #2f4145;
}

#activity-section ul li span {
    color: #688e95;
}


.university-dropdown {
    font-size: 0.9em;
    flex-grow: 1;
    height: 3em;
    border-radius: 5px;
    color: #2f4145;
    background-color: white;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.2);
    padding-left: 0.5em;
    border: 1px solid #e4e4e4;
    appearance: none; /* Removes default dropdown arrow */
}


.university-dropdown:disabled {
    color: #2f4145 !important;   /* Force normal color */
    opacity: 1 !important;  /* Ensure opacity is normal, not grayed out */
}