{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Account
{% endblock %}

{% block content %}
    
    

    <div id="account-settings-wrapper">
    
        <div id="profile-settings-wrapper">
            
            {% include 'accounts/manage/account-settings-fields.html' %}
            
        </div>
    
{#        <div id="account-settings-wrapper"></div>#}
    
    </div>
    
    
    <div id="notification">svsv</div>

{% endblock %}


{% block scripts %}
    <script>
        const accountSettingsUrl = "{% url 'account-settings' %}";
        const csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'js/account-settings.js' %}"></script>
{% endblock %}