{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}


    <div id="dashboard-wrapper">

        <div id="sidebar-wrapper">

            <div id="sidebar-container">

{#                <div id="sidebar-header">#}
{##}
{#                    <h3>Dashboard</h3>#}
{##}
{#                </div>#}

                <div id="sidebar-router">

                    <ul>

                        <li><a href="#" data-target="subjects-wrapper">{% include 'svg/subjects-icon.html' %} Subjects</a></li>
                        <li><a href="#" data-target="tuitions-wrapper">{% include 'svg/calendar.html' %} Tuitions</a></li>
                        <li><a href="#" data-target="mentor-hub-wrapper">{% include 'svg/messages.html' %}      Mentor Hub</a></li>

                    </ul>

                </div>

            </div>

        </div>

        <div id="work-field-wrapper">

            <div id="work-field-container">

                {% include 'dashboard/subjects.html' %}

                {% include 'dashboard/tuitions.html' %}

                {% include 'dashboard/mentor-hub.html' %}

            </div>

        </div>


    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'js/dashboard-router.js' %}"></script>
{% endblock %}