{% load static %}
<div id="subjects-wrapper">


    <div id="subjects-header-container">

        <div id="subjects-title-container">
            <h3>Subjects</h3>
            <p>All the notes that you need!</p>
        </div>

    </div>

    <div id="subjects-container">

        <div id="subjects-inner-container">

            <div class="subject-container">

                <div id="operative-home-icon" class="dashboard-subject-icon-container"><img alt="operative ontology"
                                                                                            src="{% static 'images/operative-icon.png' %}">
                </div>

                <div class="subject-text-container">

                    <h5>Operative Dentistry and Endodontics</h5>

                    <p>Some example text to go here about the subject..</p>

                </div>


                <a href="#">Read more</a>

            </div>

            <div class="subject-container">

                <div id="prosthodontics-home-icon" class="dashboard-subject-icon-container"><img alt="prosthodontics"
                                                                                                 src="{% static 'images/prosthodontics.png' %}">
                </div>

                <div class="subject-text-container">

                    <h5>Prosthodontics</h5>

                    <p>Some example text to go here about the subject..</p>

                </div>

                <a href="#">Read more</a>

            </div>

            <div class="subject-container">

                <div id="oral-home-icon" class="dashboard-subject-icon-container"><img alt="oral ontology"
                                                                                       src="{% static 'images/oral.png' %}">
                </div>

                <div class="subject-text-container">

                    <h5>Oral and Maxillofaxial Surgery</h5>

                    <p>Some example text to go here about the subject..</p>

                </div>

                <a href="#">Read more</a>

            </div>

            <div class="subject-container">

                <div id="paediatric-home-icon" class="dashboard-subject-icon-container"><img alt="paediatric"
                                                                                             src="{% static 'images/kid.png' %}">
                </div>

                <div class="subject-text-container">

                    <h5>Paediatric Dentistry</h5>

                    <p>Some example text to go here about the subject..</p>

                </div>

                <a href="#">Read more</a>

            </div>

            <div class="subject-container">

                <div id="orthodontics" class="dashboard-subject-icon-container"><img alt="orthodontics"
                                                                                     src="{% static 'images/orthodontics.png' %}">
                </div>

                <div class="subject-text-container">

                    <h5>Orthodontics</h5>

                    <p>Some example text to go here about the subject..</p>

                </div>

                <a href="#">Read more</a>

            </div>

            <div class="subject-container">

                <div id="periodontology" class="dashboard-subject-icon-container"><img alt="periodontology"
                                                                                       src="{% static 'images/periodontology.png' %}">
                </div>

                <div class="subject-text-container">

                    <h5>Periodontology</h5>

                    <p>Some example text to go here about the subject..</p>

                </div>

                <a href="#">Read more</a>

            </div>

        </div>


    </div>


</div>