{% load static %}
<div id="subjects-wrapper">


    <div id="subjects-header-container">

        <div id="subjects-title-container">
            <h3>Subjects</h3>
            <p>All the notes that you need!</p>
        </div>

    </div>

    <div id="subjects-container">

        <div id="subjects-inner-container">

            <div class="dashboard-subject-container">

                <div id="operative-dashboard-icon" class="dashboard-subject-icon-container"><img alt="operative ontology"
                                                                                            src="{% static 'images/operative-icon.png' %}">
                </div>

                <div class="dashboard-subject-text-container">

                    <h5>Operative Dentistry and Endodontics</h5>

                </div>
                
                <div class="dashboard-subject-years-container">
                    
                    <ul class="years-list">
                        
                        <li id="ode-3rd-year" class="year-item"><p>3rd year <span class="exam-check">exam</span></p> <p class="subject-year-progress">85%</p></li>
                        <li id="ode-4th-year" class="year-item"><p>4th year</p> <p class="subject-year-progress">0%</p></li>
                        <li id="ode-5th-year" class="year-item"><p>5th year <span class="exam-check">exam</span></p> <p class="subject-year-progress">15%</p></li>
                        <li id="ode-6th-year" class="year-item"><p>6th year <span class="exam-check">exam</span></p> <p class="subject-year-progress">40%</p></li>
                        
                    </ul>
                    
                </div>

            </div>

            <div class="dashboard-subject-container">

                <div id="prosthodontics-dashboard-icon" class="dashboard-subject-icon-container"><img alt="prosthodontics"
                                                                                                 src="{% static 'images/prosthodontics.png' %}">
                </div>

                <div class="dashboard-subject-text-container">

                    <h5>Prosthodontics</h5>

                </div>

                <div class="dashboard-subject-years-container">
                    
                    <ul class="years-list">
                        
                        <li id="ode-3rd-year" class="year-item"><p>3rd year <span class="exam-check">exam</span></p> <p class="subject-year-progress">85%</p></li>
                        <li id="ode-4th-year" class="year-item"><p>4th year</p> <p class="subject-year-progress">0%</p></li>
                        <li id="ode-5th-year" class="year-item"><p>5th year <span class="exam-check">exam</span></p> <p class="subject-year-progress">15%</p></li>
                        <li id="ode-6th-year" class="year-item"><p>6th year <span class="exam-check">exam</span></p> <p class="subject-year-progress">40%</p></li>
                        
                    </ul>
                    
                </div>

            </div>

            <div class="dashboard-subject-container">

                <div id="oral-dashboard-icon" class="dashboard-subject-icon-container"><img alt="oral ontology"
                                                                                       src="{% static 'images/oral.png' %}">
                </div>

                <div class="dashboard-subject-text-container">

                    <h5>Oral and Maxillofaxial Surgery</h5>
                    
                </div>

                <div class="dashboard-subject-years-container">
                    
                    <ul class="years-list">
                        
                        <li id="ode-3rd-year" class="year-item"><p>3rd year <span class="exam-check">exam</span></p> <p class="subject-year-progress">85%</p></li>
                        <li id="ode-4th-year" class="year-item"><p>4th year</p> <p class="subject-year-progress">0%</p></li>
                        <li id="ode-5th-year" class="year-item"><p>5th year <span class="exam-check">exam</span></p> <p class="subject-year-progress">15%</p></li>
                        <li id="ode-6th-year" class="year-item"><p>6th year <span class="exam-check">exam</span></p> <p class="subject-year-progress">40%</p></li>
                        
                    </ul>
                    
                </div>

            </div>

            <div class="dashboard-subject-container">

                <div id="paediatric-dashboard-icon" class="dashboard-subject-icon-container"><img alt="paediatric"
                                                                                             src="{% static 'images/kid.png' %}">
                </div>

                <div class="dashboard-subject-text-container">

                    <h5>Paediatric Dentistry</h5>
                    

                </div>

                <div class="dashboard-subject-years-container">
                    
                    <ul class="years-list">
                        
                        <li id="ode-3rd-year" class="year-item"><p>3rd year <span class="exam-check">exam</span></p> <p class="subject-year-progress">85%</p></li>
                        <li id="ode-4th-year" class="year-item"><p>4th year</p> <p class="subject-year-progress">0%</p></li>
                        <li id="ode-5th-year" class="year-item"><p>5th year <span class="exam-check">exam</span></p> <p class="subject-year-progress">15%</p></li>
                        <li id="ode-6th-year" class="year-item"><p>6th year <span class="exam-check">exam</span></p> <p class="subject-year-progress">40%</p></li>
                        
                    </ul>
                    
                </div>

            </div>

            <div class="dashboard-subject-container">

                <div id="orthodontics-dashboard-icon" class="dashboard-subject-icon-container"><img alt="orthodontics"
                                                                                     src="{% static 'images/orthodontics.png' %}">
                </div>

                <div class="dashboard-subject-text-container">

                    <h5>Orthodontics</h5>
                    

                </div>

                <div class="dashboard-subject-years-container">
                    
                    <ul class="years-list">
                        
                        <li id="ode-3rd-year" class="year-item"><p>3rd year <span class="exam-check">exam</span></p> <p class="subject-year-progress">85%</p></li>
                        <li id="ode-4th-year" class="year-item"><p>4th year</p> <p class="subject-year-progress">0%</p></li>
                        <li id="ode-5th-year" class="year-item"><p>5th year <span class="exam-check">exam</span></p> <p class="subject-year-progress">15%</p></li>
                        <li id="ode-6th-year" class="year-item"><p>6th year <span class="exam-check">exam</span></p> <p class="subject-year-progress">40%</p></li>
                        
                    </ul>
                    
                </div>

            </div>

            <div class="dashboard-subject-container">

                <div id="periodontology-dashboard-icon" class="dashboard-subject-icon-container"><img alt="periodontology"
                                                                                       src="{% static 'images/periodontology.png' %}">
                </div>

                <div class="dashboard-subject-text-container">

                    <h5>Periodontology</h5>
                    

                </div>

                <div class="dashboard-subject-years-container">
                    
                    <ul class="years-list">
                        
                        <li id="ode-3rd-year" class="year-item"><p>3rd year <span class="exam-check">exam</span></p> <p class="subject-year-progress">85%</p></li>
                        <li id="ode-4th-year" class="year-item"><p>4th year</p> <p class="subject-year-progress">0%</p></li>
                        <li id="ode-5th-year" class="year-item"><p>5th year <span class="exam-check">exam</span></p> <p class="subject-year-progress">15%</p></li>
                        <li id="ode-6th-year" class="year-item"><p>6th year <span class="exam-check">exam</span></p> <p class="subject-year-progress">40%</p></li>
                        
                    </ul>
                    
                </div>

            </div>

        </div>


    </div>


</div>