{% load static %}
<div id="tuitions-wrapper">


    <div id="tuitions-header-container">

        <div id="tuitions-title-container">
            <h2>Tuitions</h2>
            <p>Some example text goes here!</p>
        </div>

        <div id="tuitions-left-container">

            <p>Tuitions left <span id="tuitions-left-number">{{ user.number_of_tuitions }}</span></p>

        </div>

    </div>


    <div id="tuitions-container">

        <div id="booked-tuitions-container">

            <div id="booked-tuitions-title-container">

                <h2>Upcoming tuitions</h2>
                <span class="cancel-tuition-text">Sessions can be canceled at least 24 hours in advance.</span>

            </div>

            {% if upcoming_tuitions %}
                {% for upcoming_tuition in upcoming_tuitions %}

                    <div class="upcoming-tuition-container">

                        <div class="upcoming-tuition-left-container">

                            <p>
                                <span>Session Scheduled for: </span> {{ upcoming_tuition.date }} {{ upcoming_tuition.time }}
                            </p>
                            <p><span>Focus area:</span> {{ upcoming_tuition.focus_area }}</p>
                            {% if upcoming_tuition.description %}
                                <p><span>Additional notes: </span>{{ upcoming_tuition.description }}</p>
                            {% endif %}
                            <p><span>Tuition room: </span><a href="{{ meeting_room }}" target="_blank">Enter</a></p>

                        </div>

                        <div class="cancel-tuition-container">

                            <button class="cancel-tuition-button"
                                    data-booking-id="{{ upcoming_tuition.id }}"
                                    data-date="{{ upcoming_tuition.date|date:'Y-m-d' }}"
                                    data-time="{{ upcoming_tuition.time|time:'H:i:s' }}">
                                Cancel Session
                            </button>

                            {#                        <span class="cancel-tuition-text">Sessions can be canceled <br>at least 24 hours in advance.</span>#}

                        </div>

                    </div>



                {% endfor %}

                <div id="tuition-cancel-modal" class="tuition-modal-overlay" style="display: none;">

                    <div class="tuition-modal-container">

                        <p>Are you sure that you want to cancel this tuition session? If so, your tuition credit will be
                            restored.</p>

                        <button id="tuition-confirm-cancel" class="tuition-confirm-button">Yes, Cancel</button>
                        <button id="tuition-close-modal" class="tuition-close-button">No</button>

                    </div>

                </div>

            {% else %}

                <p>You don't have upcoming tuitions at this moment.</p>

            {% endif %}

        </div>

        <div id="previous-tuitions-container">

            <h2>Completed tuitions</h2>

            {% if completed_tuitions %}

                {% for completed_tuition in completed_tuitions %}

                    <div class="completed-tuition-container">

                        {#                    <p>{{ completed_tuition.focus_area }}</p>#}
                        {#                    <p>{{ completed_tuition.description }}</p>#}
                        {#                    <p>{{ completed_tuition.date }}</p>#}

                        <p><span>Session from: </span> {{ completed_tuition.date }} {{ upcoming_tuition.time }}</p>
                        <p><span>Focus area:</span> {{ completed_tuition.focus_area }}</p>
                        {% if completed_tuition.description %}
                            <p><span>Additional notes: </span>{{ completed_tuition.description }}</p>
                        {% endif %}

                        {% if completed_tuition.video_link %}

                            <p><span>Recorded session: </span><a target="_blank" href="{{ completed_tuition.video_link }}">Video
                                link</a>
                            </p>

                        {% else %}

                            <p><span>Recorded session: </span>The video link will be provided in two days after the
                                session
                            </p>

                        {% endif %}

                    </div>

                {% endfor %}

            {% else %}

                <p>You don't have completed tuitions at this moment.</p>

            {% endif %}


        </div>

        <div id="book-tuition-container">

            <h2>Book a Tuition Slot</h2>

            <div id="book-tuition-inner-container">

                <div id="book-tuition-left-inner-container">

                    {% if user.number_of_tuitions %}

                        <form id="book-slot-form">

                            <select id="date-select" required>

                                <option value="" disabled selected>Choose a date</option>

                            </select>


                            <select id="time-select" required>

                                <option value="" disabled selected>Choose a time</option>

                            </select>


                            <select id="focus-area-select" required>

                                <option value="" disabled selected>Choose a focus area</option>

                                {% for focus_area in tuition_focus_area_options.all %}

                                    <option>{{ focus_area.name }}</option>

                                {% endfor %}

                            </select>


                            <textarea required id="description-input" name="description-input" maxlength="300" rows="4"
                                      placeholder="Please write the year you are in ,the subject and the topic you want to discuss."></textarea>

                            <button type="submit" disabled>Book Slot</button>

                            {#                TODO: booking response to be like confirm message on the account page #}
                            <div id="booking-response"></div>

                        </form>

                    {% else %}

                        <p>No tuition credits left. Add more <a href="#">Add tuitions</a></p>

                    {% endif %}

                </div>

            </div>

            <div id="book-tuition-right-inner-container"></div>

        </div>

    </div>

</div>

<script src="{% static 'js/cancel-tuition-button.js' %}"></script>
<script src="{% static 'js/cancel-tuition-modal.js' %}"></script>
<script src="{% static 'js/book-a-tuition.js' %}"></script>


