<div id="tuitions-wrapper">


    <div id="tuitions-header-container">

        <div id="tuitions-title-container">
            <h3>Tuitions</h3>
            <p>Some example text goes here!</p>
        </div>

        <div id="tuitions-left-container">

            <p>Tuitions left <span id="tuitions-left-number">3</span></p>

        </div>

    </div>
    

    <div id="tuitions-container">

        <div id="booked-tuitions-container">

            

        </div>

        <div id="previous-tuitions-container">


        </div>

        <div id="book-tuition-container">


        </div>

    </div>


</div>