.profile-icon-container {
    position: relative;
    display: inline-block;
}

.profile-icon-container img {
    width: 2.3em; /* Adjust as needed */
    cursor: pointer;
}

/* The dropdown menu - initially hidden */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: -50%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    z-index: 1000;
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
}

.dropdown-menu ul li:last-child {
    border-bottom: none;
}

.dropdown-menu ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

/* Show the dropdown menu on hover */
.profile-icon-container:hover .dropdown-menu {
    display: block;
}

/* Optional: Change the color of links on hover */
.dropdown-menu ul li a:hover {
    background-color: #f1f1f1;
}