<div class="auth-card-inner-container">

    <h2>Hello again!</h2>

    <div class="auth-form">

        <form method="post">

            {% csrf_token %}


            <!-- Email field -->
            <div class="auth-form-field">
                <input type="email" name="username" id="id_username" placeholder=" " required>
                <label for="id_username">Email</label>
            </div>

            <div class="auth-error-message" id="email-error"></div>
            {% for error in form.username.errors %}
                <div class="auth-error-message">{{ error }}</div>
            {% endfor %}

            <!-- Password Field -->
            <div class="auth-form-field">
                <input type="password" name="password" id="id_password" placeholder=" " required>
                <label for="id_password">Password</label>
            </div>

            <div class="auth-error-message" id="password-error"></div>
            {% for error in form.password.errors %}
                <div class="auth-error-message">{{ error }}</div>
            {% endfor %}


            {% if form.non_field_errors %}

                {% for error in form.non_field_errors %}

                    <p class="auth-field-non-field-error">{{ error }}</p>

                {% endfor %}

            {% endif %}


            <button class="auth-button" type="submit">Sign in</button>

        </form>

    </div>

    <hr class="auth-separator-line">

    <div id="google-button">

        {% include 'accounts/auth/signin-google-button.html' %}

    </div>

</div>

<div id="auth-bottom-options-container">

    <p id="sign-up-element">Not a member? <a href="{% url 'registration' %}">Sign up</a></p>
    <p id="forgotten-password-element">Forgot your password? <a href="{% url 'password_reset' %}">Reset it</a></p>

</div>
