{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Sign in
{% endblock %}

{% block scripts %}
    <script src="https://accounts.google.com/gsi/client?hl=en" async defer></script>
{% endblock %}

{% block content %}

    <div class="auth-page-wrapper">

        <div id="login-page-card">

            {% include 'accounts/auth/login-card.html' %}

        </div>

    </div>

    <style>
        .auth-page-wrapper {
            background-image: url("{% static 'images/login1.jpg' %}");
        }
    </style>
{% endblock %}